.chat{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #18D579;
    height: 65px;
    width: 100%;
    &__icon{
        position: relative;
        margin-right: 10px;
    }
    &__text{
        font-size: 18px;
        text-transform: uppercase;
        color: $white-color;
        letter-spacing: .03em;
        margin: 0;
    }
    &__notifications{
        right: auto;
        left: -5px;
        top: -5px;
    }
}