<ion-header>

  <ion-navbar color="primary">
    <ion-row>
      <ion-col col-1 no-padding>
        <button color="light" clear (click)="goback()" ion-button icon-only>
          <ion-icon name="md-arrow-back"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-11>
        <ion-title>{{'HelpCenter' | translate}} </ion-title>
      </ion-col>
    </ion-row>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list *ngFor="let category of helpData ">

    <ion-item color="primary">
      <ion-label>{{category.category_name}}</ion-label>
    </ion-item>

    <ion-list *ngFor="let subCat of category.sub_categories">
      <ion-item *ngFor="let que of subCat.questions" text-wrap>
        <ion-label color="primary" class="lbl-question" (click)="toggleAnswer(que)">
          <ion-icon name="arrow-round-forward"></ion-icon>
          {{que.question}}
          <div *ngIf="isAnswerShown(que)">
            <p class="txtanswer">{{que.answer}}</p>
          </div>
        </ion-label>
      </ion-item>
    </ion-list>

  </ion-list>

</ion-content>