.property-list{
    &__header{
        padding: 10px 15px;
        padding-bottom: 5px;
        background: rgba(#0F2355, .05);
        font-size: 13px;
        color: rgba(#0F2355, .5);
    }
    &__item{
        @include flex(row, center, space-between);
        padding: 12px 15px;
        position: relative;
        &_active{
            & svg{
                & path {
                    fill: #1144CA;
                }
            }
        }
    }
    &__name{
        font-size: 16px;
        margin: 0;
        color: #0F2355;
    }
}