

.center{
    text-align: center;
}

.textarea{
    width: 50px;
    height: 100px; 
    border: 1px solid #488aff;
}

.dvcontact ul li{
    list-style: none;
    color:#488aff; 
    font-size: 12px;
}

.dvcontact i{
padding:10px;
}

.dvcontact ul{
    padding-left: initial;
}

.dvcontact{
    color:#488aff;
}

