page-register-email {
    .no-scroll .scroll-content{
        overflow: hidden;
    }

}



.center{
    text-align: center;
}
.border{
    background-color:lightgray;
}
.fontSize{
    font-size: 17px;
    placeholder-color: blue; 
    
}
